//default cta button
.button {
    display: block;
    color: $white;
    text-align: center;
    background: $main-color;
    border-radius: 25px;
    transition: .2s $cubic;
    
    &:hover {
        background: darken($main-color, 5%);
        cursor: pointer;
    }

    &.button__small {
        @include fontsize(14px);
    }

    &.button--soundcloud {
        background: $soundcloud;

        &:hover {
            background: darken($soundcloud, 5%);
        }
    }

    &.button--spotify {
        background: $spotify;

        &:hover {
            background: darken($spotify, 5%);
        }
    }
}